* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --first-player: red;
  --second-player: blue;
  --column-width: 200px;
}

.players {
  /* width: 90vw; */
  margin: auto;
  padding: 2rem;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 8px;
}

/* .players > .first-player > img {
  color: var(--second-player);
}
.players > .second-player > img {
  color: var(--first-player);
} */

.highlight {
  transform: scale(2);
  margin-bottom: 1rem;
  box-shadow: 1px 2px 4px black;
  border-radius: 50%;
}
.settings-div {
  display: flex;
  flex-wrap: wrap;
}
.settings-div button {
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: rgb(120, 255, 67);
  box-shadow: 2px 2px 5px black;
}

.settings-div img {
  margin: 0.5rem;
  cursor: pointer;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputs span {
  padding-left: 1rem;
}
.range {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem 2rem;
}
.columns-container {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.columns-container > div {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  transform: rotate(180deg);
  width: 70px;
  height: 100%;
  background-color: bisque;
  border: 3px solid aliceblue;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* .columns-container > div::before {
  content: "";
  width: 3px;
  height: calc(100% - 10px);
  background-color: blue;
} */

.token {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  /* position: absolute; */
  animation: dropp 1s cubic-bezier(1, 0.28, 0.68, 0.99);
}

@keyframes dropp {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.blue {
  background-color: var(--second-player);
}
.red {
  background-color: var(--first-player);
}

.winner {
  animation: turn infinite 1s ease-in-out;
}

@keyframes turn {
  50% {
    transform: rotateY(180deg);
  }
}

.player-info,
.player-settings {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: all 0.6s ease-in-out;
}

.show-modal {
  /* animation: showSlowly 1s ease-in-out; */
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}

.player-info > div,
.player-settings > div {
  padding: 1rem;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  min-width: 300px;
  min-height: 300px;
  max-width: 500px;
}
.player-info > div > div:first-of-type,
.player-settings > div > div:first-of-type {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.player-info > div > div:first-of-type > ul {
  /* list-style-type: none; */
  padding: 1rem;
}
.player-settings > div > div:first-of-type > ul {
  list-style-type: none;
  padding: 1rem;
}
.player-settings > div > div:first-of-type > ul > li,
.player-info > div > div:first-of-type > ul > li {
  padding: 0.4rem 0;
}
.player-info label {
  margin: 2rem 0 0.5rem 0;
}

.player-info button,
.player-settings button {
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  background-color: aliceblue;
  border: none;
  box-shadow: 0px 0px 5px black;
}
.player-info button:hover,
.player-settings button:hover {
  box-shadow: inset 0 0 5px black;
}
.player-info .btns button {
  margin: 0 1rem;
}

.player-settings .btns {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.snack-bar {
  position: relative;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  background-color: rgb(221, 64, 64);
  color: white;
  padding: 1.2rem;
  z-index: 5;
}

.snack-bar > div {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: rgb(238, 79, 92);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .players {
    /* width: 100vw; */
    padding: 0.5rem 0.5rem;

    justify-content: space-between;
    align-items: center;
  }

  .players h3 {
    font-size: 0.9rem;
  }
  .settings-div {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .highlight {
    transform: scale(1.4);
    margin-bottom: 0.5rem;
  }

  .range {
    padding: 0.4rem 0;
  }
  .columns-container > div {
    width: 35px;
    height: 100%;
  }
  .token {
    width: 28px;
    height: 28px;
  }
}
