* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --first-player: red;
  --second-player: blue;
  --column-height: 800px;
  --column-width: 200px;
}

.players {
  width: 90vw;
  margin: auto;
  padding: 2rem;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.players > .first-player > img {
  color: var(--second-player);
}
.players > .second-player > img {
  color: var(--first-player);
}

.highlight {
  transform: scale(2);
  margin-bottom: 1rem;
  box-shadow: 1px 2px 4px black;
  border-radius: 50%;
}

.players button {
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: rgb(120, 255, 67);
  box-shadow: 2px 2px 5px black;
}

.settings-div {
  display: flex;
  flex-wrap: wrap;
}

.settings-div img {
  margin: 0.5rem;
  cursor: pointer;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputs span {
  padding-left: 1rem;
}
.range {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem 2rem;
}
.columns-container {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 80vh;
}

.columns-container > div {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  transform: rotate(180deg);
  min-width: 100px;
  max-width: 300px;
  height: 100%;
  background-color: bisque;
  border: 1px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.token {
  height: 99px;
  width: 99px;
  border-radius: 50%;
  /* position: absolute; */
  animation: dropp 1s cubic-bezier(1, 0.28, 0.68, 0.99);
}

@keyframes dropp {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.blue {
  background-color: var(--second-player);
}
.red {
  background-color: var(--first-player);
}

.winner {
  animation: turn infinite 1s ease-in-out;
}

@keyframes turn {
  50% {
    transform: rotateY(180deg);
  }
}

.player-info,
.player-settings {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: all 0.6s ease-in-out;
}

.show-modal {
  /* animation: showSlowly 1s ease-in-out; */
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}

@keyframes showSlowly {
  0% {
    transform: scale(0.1);
    opacity: 0;
    z-index: -2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}

.player-info > div,
.player-settings > div {
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  min-width: 300px;
  min-height: 300px;
}
.player-info > div > div:first-of-type {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.player-info label {
  margin: 2rem 0 0.5rem 0;
}

.player-info .btns button {
  margin: 0 1rem;
}
